{% extends 'base.html' %} 

{% block content %}
<!--Section-->
    <div class="p-3">
      <div class="container text-center img-fluid">
        <div class="row">
          <div class="col">
            <h2 class="text-secondary display-1">Quienes Somos</h2>
            <hr class="my-4" />
          </div>
        </div>
      </div>
    </div>

<!-- Línea de separación -->
  <div class="container text align-content-around">
    <div class="row align-items-start">
      </div>
        <div class="col">
          <br />
          <p style="text-align: justify;"> 
            Only Flans Repostería comienza el año 2014 con una tienda 
            pequeñita en un pasaje de Ñuñoa. Un negocio familiar 
            que ha ido creciendo durante los años. El año 2015 creamos nuestra 
            vitrina online donde solo exhibíamos nuestros productos y fue en el
            año 2018 cuando creamos nuestra tienda online para llegar a todos 
            nuestros clientes en Chile. <br>
            Luego en plena pandemia fue donde se abrieron nuevas oportunidades 
            y tuvimos la posibilidad de cambiarnos a un lugar mucho más amplio
            y mejorar nuestro servicio de venta online.
            Comenzamos a importar directamente para poder traer nuevos y 
            novedosos productos, así también poder abastecernos y mejorar la 
            falta de stock de algunos productos, con la idea de que todos 
            nuestros clientes tengan sin problema sus productos en sus domicilios. <br>
            Con el crecimiento también vienen las mejoras, es por eso que hoy 
            nuestra tienda es Onlyflans.cl, nuestra nueva tienda online. Hemos
            mejorado procesos internos para poder brindar una mejor experiencia 
            a nuestros clientes de manera presencial y a través de la tienda online. <br>
            Lo más importante es que seguimos siendo los mismos que partimos con 
            este proyecto, y muchos más que se han ido integrando en el camino. 
            Todos siempre con las mismas ganas como desde el primer día. <br>
            Estaremos trabajando diariamente para ofrecer los mejores productos, 
            marcas, novedades, ideas y por supuesto precios. Si algún artículo no 
            lo encuentras en nuestra tienda, avísanos y trataremos de conseguirlo. 
            <br>
            ¡No esperes más, regálate un momento dulce y sorprende a todos con 
            tus creaciones!
          </p>
          <br>
          <h4 style="text-align: center; color: dimgray;">¡Muchas gracias por estar aquí!</h4>
          <!-- Línea de separación -->
          <hr class="my-4" />
        </div>
      </div>
    </div>
  </div>
{% endblock %}