{% extends 'base.html' %} 
{% block content %}

<!--Cards-->
<div class="container">
  <div class="row">
    {% for flan in flans %}
    <div class="col-md-6 col-sm-12 col-xl-3 my-2 p-3">
      <div class="card card-postre" style="width: 20rem;">
        <img src="{{ flan.image_url }}" alt="{{ flan.name }}" class="card-img-top img-responsive" alt="...">
        <div class="card-body">
           <h5 style="text-align: center;" class="card-title">{{ flan.name }}</h5>
           <hr>
           <p style="text-align: center;" class="card-text">{{ flan.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}