{% extends 'base.html' %} 
{% block content %}

<div style="text-align: center;">
  <h2>Bienvenido {{ nombre_usuario }}</h2>
    <p>Estamos encantados de tenerte aquí.</p>
    <p>Tenemos una seleccion de nuestros mejores productos para ti!</p>
</div>

{% if registro_exitoso %}
    <div class="alert alert-success" style="text-align: center; font-size: 20px; margin-bottom: 20px;">
        USUARIO REGISTRADO DE FORMA EXITOSA
    </div>
{% endif %}

<!--Cards-->

<div class="container">
  <div class="row">
    {% for flan in flans %}
    <div class="col-md-6 col-sm-12 col-xl-3 my-2 p-3">
      <div class="card card-postre" style="width: 20rem;">
        <img src="{{ flan.image_url }}" alt="{{ flan.name }}" class="card-img-top img-responsive" alt="...">
        <div class="card-body">
           <h5 style="text-align: center;" class="card-title">{{ flan.name }}</h5>
           <hr>
           <p style="text-align: center;" class="card-text">{{ flan.description }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}